.panel {

    // Standard-panel
    // <div class="panel"></div>

    background: @white;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;

    &:focus {
        outline: 3px @orangeFocus solid;
    }

}

.panel--ramme {
    border: 1px solid @navGra40;
}

.panel__tittel {
    .typo-undertittel-mixin();
    margin-top: 0;
}

@media (min-width: @skjermMini) {
    .panel {
        padding: 2rem;
    }

    .panel--komprimert {
        padding-top: 1rem;
        padding-bottom: 1.25rem;
    }

    .panel-ekstra, .panel-relatert {
        border-left-width: 1px;
        border-right-width: 1px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
        &:before {
            left: 2rem;
        }
    }
}
